

.a {
  background-color: powderblue;
  transition: background-color 0.5s;
}

a:hover {
  background-color: rgb(184, 91, 4);
  border-radius: 5px;
}

body{ 
  background-image: url(./assets/IcoWhiskey.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  
}
